<div class="full-height large-padding" id="main">
	<header class="full-height aligner-vertical">
		<div class="text-center">
			<%= image_tag("glassess.png") %>
			<h1 class="gray text-shadow">I'm Uriel, Web Developer</h1>	
		</div>
		
	</header>
</div>
<section class="full-height large-padding">
	<div class="full-height aligner-vertical ">
		<div class="text-center">
			<h2 class="be-big">about me</h2>	
			<div class="col-md-10 no-float center-block purple ubuntu text-justify be-medium">
				I'm 21 years old, I've been playing with the web for 5 years. I love Ruby &lt;3, teaching and playing basketball. Big NBA fan, I'm looking for a remote work as a developer. I'm 1 month away from becoming a Software Develompent Engineer. I scored <strong>640 points</strong> out of 660 in the TOEFL itp test (for English knowledge). My biggest quality is my love to learn new stuff :)

			</div>
		</div>
		
	</div>
</section>
<section class="large-padding">
	<div>
		<div class="text-center">
			<h2 class="be-big">my work</h2>	
			<div class="col-md-10 no-float center-block purple ubuntu text-justify be-medium">
				<p>
					<strong>Código Facilito</strong>: <a href="https://codigofacilito.com">https://codigofacilito.com</a>  We teach how to code web and mobile applications to 500,000 users per year in our web application, our videos are watched 700,000 per month. The site was built using Ruby on Rails, it uses CoffeeScript and SASS along with the Youtube API, ComproPago API and PayPal API.
				</p>
				<p>
					<strong>Classi</strong>: <a href="http://classi.in">http://classi.in</a> A platform to administrate classroom classes for universities. It integrates Google Drive, Calendar and G+ into it. It allows teachers to upload homeworks score them and more (quizzes, files, resources, youtube videos). 1st place in the 2014 Google I/O hackathon at CPMX5. Built using Ruby on Rails
				</p>
				<p>
					<strong>Tutoreandome</strong>: (not yet online) Tutorships as a service. For the project I used AngularJS and lots of javaScript to build a realtime virtual classroom with a blackboard, notes and chat. It uses Laravel, AngularJS and HTML5 API's along with PayPal API. 2nd place at PayPal's BattleHack hackathon México.
				</p>
				<p>
					<strong>WebSchoolMx</strong>: <a href="http://webschool.education/">http://webschool.education/</a> Mobile Applications built using Cordova, AngularJS and Ionic. Availabe at the Play Store and the App Store. It's a tool to communicate schools with parents by informing them about scores, homeworks, announcements, necessary materials and more.
				</p>
				<p>
					<strong>ChiapasIgnite</strong>: <a href="http://chiapasignite.com/">http://chiapasignite.com/</a> Web Applciations for participants registration and payments of the first Chiapas Ignite hackathon at Chiapas, México. It uses Ruby on Rails and the ComproPago API.
				</p>


			</div>
		</div>
		
	</div>
</section>
<section class="full-height large-padding">
	<div class="full-height aligner-vertical">
		<div class="text-center">
			<h2 class="be-big">my skills</h2>	
			<div class="col-md-10 no-float center-block purple ubuntu text-justify be-medium">
				<ul>
					<li>Ruby (Ruby on Rails)</li>
					<li>javaScript (CoffeeScript, AngularJS, jQuery, D3js)</li>
					<li>CSS (SASS, Bootstrap)</li>
					<li>PHP (Laravel, CodeIgniter</li>
					<li>Python</li>
					<li>JAVA</li>
					<li>SQL</li>
					<li>API's I've been working on (Facebook, Twitter, Google Drive, PayPal, Google Calendar, ComproPago, Alchemy API for NLP)</li>
					<li>Weka for Machine Learning and Data Mining</li>
				</ul>

			</div>
		</div>
		
	</div>
</section>
<section class="full-height large-padding">
	<div class="full-height aligner-vertical">
		<div class="text-center">
			<h2 class="be-big">my networks</h2>	
			<div class="col-md-12 no-float center-block purple ubuntu text-center be-big">
				<div class="col-md-4 inline-block">
					<a href="https://github.com/urielhdz?tab=repositories" target="_blank">
						<i class="fa fa-github-alt pink be-bigger"></i><br>
						<span style="font-size:30px;" class="pink">Github</span>
					</a>
				</div>
				
				<div class="col-md-4 inline-block">
					<a href="https://youtube.com/user/dxvtuts" target="_blank">
						<i class="fa fa-youtube-play pink be-bigger"></i><br>
						<span style="font-size:30px;" class="pink">Youtube</span>
					</a>
				</div>
				<div class="col-md-4 inline-block">
					<a href="https://twitter.com/Uriel_Hedz" class="pink" target="_blank">
						<i class="fa fa-twitter  be-bigger"></i><br>
						<span style="font-size:30px;">Twitter</span>
					</a>
				</div><br>
				<div class="col-md-6 text-center">
					<a href="http://stackoverflow.com/users/1623180/uriel-hern%C3%A1ndez" target="_blank">
						<i class="fa fa-stack-overflow pink be-bigger"></i>
						<p style="font-size:30px;" class="pink">StackOverflow</p>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</section>