html,body{
	height: 100%;
}
.full-height{
	height: 100%;
}
#main{
	background: url(<%= asset_path("8.png") %>) center;
	background-size: 100% auto;
}
.aligner-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.large-padding{
	padding: 5px 15px !important;
}
.be-small{
	font-size: 12px !important;
}

.be-medium{
	font-size: 1.5em;
}
.be-smaller{
	font-size: 10px !important;
}
.be-big{
	font-size: 3em;
}
.be-bigger{
	font-size: 5em;
}
.radius{
	border-radius: 2px;
}
.be-white{
	background-color: white !important;
}
.border{
	box-shadow: 0px 0px 1px rgba(0,0,0,0.8);
}
.white{
	color: white !important;
}
.purple{
	color:#5E4352;
}

.be-gray{
	background-color: #E5E5E5;
}
.pink{
	color:#C74066;
}
.gray{
	color: #eeeeee;	
}
.be-other-gray{
	background-color: #F2F2F2;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
	vertical-align: middle;
}
.gradient{
	background: #292939; /* Old browsers */
	background: -moz-linear-gradient(top,  #292939 0%, #23b58f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292939), color-stop(100%,#23b58f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #292939 0%,#23b58f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #292939 0%,#23b58f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #292939 0%,#23b58f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #292939 0%,#23b58f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292939', endColorstr='#23b58f',GradientType=0 ); /* IE6-9 */

}
.ubuntu{
	font-family: 'Ubuntu Mono';
}
.opacity{
	opacity:0.6;
}
.no-float{
	float: none !important;
}
.be-blue{
	background-color: #34495e;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;	
}
.text-shadow{
	text-shadow:0px 0px 5px rgba(0,0,0,0.6);
}
.be-black{
	background-color:#202020;
}
@media screen and (max-width: 800px) {
	.full-height{
		height: auto;
		min-height: 100%;
	}
}